<!-- codigo para mostrar una imagen con detalles-->

<!--imagen-->
<div class="card">
    <!--d-flex card-img-detail justify-content-between align-items-center -> sirve para que todo el contenido 
    se muestre en 1 sola linea uno al lado del otro-->
    <div class="card-header card-img-detail justify-content-between align-items-center">
        <h2>{{image_detail.title}}</h2>
        <!--el data-id es para saber sobre la img si se quiere eliminar luego-->
        <button class="btn btn-danger" id="btn-delete-image" data-id="{{image_detail.uniqueId}}">
            <i class="fa fa-trash"></i> Eliminar
        </button>
    </div>
    <div class="card-body">
        <p>{{image_detail.description}}</p>
        <div class="text-center">
            <!--img-fluid -> para que la img cubra el contenedor y no se extienda mas -->
            <img src="/public/upload/{{image_detail.filename}}" alt="{{image_detail.filename}}" class="img-fluid">
        </div>
    </div>
    <div class="card-footer card-img-detail justify-content-between align-items-center">

        <!--al dar clic aca, con una peticion Ajax se dara like en una peticion POST-->
        <button class="btn btn-success" id="btn-like" data-id="{{image_detail.filename}}">
            <i class="fas fa-thumbs-up"></i> Me gusta
        </button>
        <p>
            <!--contando-likes -> con js se modifica la informacion de los likes-->
            <span class="contando-likes">{{image_detail.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>
        <p>
            <!--contando-num_vistas -> con js se modifica la informacion de los vistos-->
            <span class="contando-vistas">{{image_detail.views}}</span>
            <i class="fas fa-eye"></i>
        </p>
        <p>
            <i class="far fa-clock"></i> {{hallar_cnt_tiempo image_detail.timestamp}}
        </p>
    </div>
</div>

<!--comentarios-->

<!--mt-> margin-top-->
<div class="card mt-2">
    <div class="card-header d-flex card-img-detail justify-content-between align-items-center">
        <h3>Comentarios</h3>
        <button class="btn btn-info" id="desplegar-form-comentar">
            <i class="fa fa-comment"></i> Comentar
        </button>
    </div>
    <div class="card-body">
        <!--blockquote -> permite insertar citas en bloques de contenido-->
        <blockquote id="formulario-comentar">
            <form action="/images/{{image_detail.uniqueId}}/comment" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre_quien_comenta" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email_quien_comenta" placeholder="Correo">
                </div>
                <div class="form-group">
                    <textarea name="descripcion_comentario" rows="2" class="form-control"
                        placeholder="Tu comentario"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comentar">
                        <i class="fa fa-comment"></i> Publicar Post
                    </button>
                </div>
            </form>
        </blockquote>
        <!--Para listar los comentarios-->
        <!--p -> padding-->
        <ul class="list-group p-4 lista_comentarios">
            <h5>Algunos Comentarios</h5>
            {{#each comments}}
            <li class="list-group-item">
                <div class="row">
                    <a href="#" class="col text-center">
                        <!--gravatar es un servicio que permite mostrar las imagenes de perfil de un correo, 
                        en el caso de el usuario no este inscrito en gravatar, mostrara una imagen aleatoria de 
                        la plataforma-->
                        <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="">
                    </a>
                    <blockquote>
                        <p class="lead">
                            {{comment}}
                        </p>
                        <footer class="blockquote-footer">
                            {{name}} - {{hallar_cnt_tiempo timestamp}}
                        </footer>
                    </blockquote>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>